<div layout="row">
    <md-content flex="nogrow" style="width: 800px;">
        <div>
            <md-card>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>
                            <md-icon md-svg-icon="md-menu"></md-icon>
                            <span>Create account</span>
                        </h2>
                    </div>
                </md-toolbar>
                <md-stepper-card-content class="md-no-padding">
                    <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep">
                        <md-step label="Config mode" ng-disabled="vm.stepProgress < 1">
                            <md-step-body>
                                <md-content class="md-padding">
                                    <img src="images/stepOne.png" alt="stepOne" height="100%" width="100%">
                                </md-content>
                                <md-step-actions layout="row">
                                    <div flex layout="row" layout-align="end top">
                                        <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                        <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep()">NEXT</md-button>
                                    </div>
                                </md-step-actions>
                            </md-step-body>
                        </md-step>
                        <md-step label="Connect to Blocky" ng-disabled="vm.stepProgress < 2">
                            <md-step-body>
                                <md-content class="md-padding">
                                    <div layout="row" layout-align="space-between center">
                                        <div flex>
                                            <h6>Open the wireless utility on your computer, select the name (SSID) of the BLOCKY_XXXXXXX
                                                network, and no password for enter (both of these are found on the included
                                                Wi-Fi Configuration Card).
                                            </h6>
                                        </div>
                                        <div flex layout="row" layout-align="end center"><img src="images/stepTwo.png" alt="stepOne" height="350px" width="250px"></div>
                                    </div>
                                </md-content>
                                <md-step-actions layout="row">
                                    <div flex>
                                        <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                    </div>
                                    <div flex layout="row" layout-align="end top">
                                        <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                        <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep(); vm.loadAPList()">NEXT</md-button>
                                    </div>
                                </md-step-actions>
                            </md-step-body>
                        </md-step>
                        <md-step label="Choose Network" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                            <md-step-body>
                                <div layout="column">
                                    <div class="tb-wifi_info" flex ng-repeat="aplist in vm.APList" ng-click="vm.getSSID(aplist.ssid); vm.enableNextStep()">
                                        <div layout="row" layout-align="space-around center">
                                            <div flex="10" ng-if="aplist.rssi < -100">
                                                <!-- Poor -->
                                                <!-- <i class="icon-poor-wifi-signal"></i> -->
                                                <img src="images/poor-wifi-signal.svg" alt="poor wifi" style="width:25px;height:25px;">
                                            </div>
                                            <div flex="10" ng-if="aplist.rssi < -86 && aplist.rssi >= -100">
                                                <!-- Fair -->
                                                <!-- <i class="icon-fair-wifi-signal"></i> -->
                                                <img src="images/fair-wifi-signal.svg" alt="fair wifi" style="width:25px;height:25px;">
                                            </div>
                                            <div flex="10" ng-if="aplist.rssi < -70 && aplist.rssi >= -85">
                                                <!-- Good -->
                                                <!-- <i class="icon-good-wifi-signal"></i> -->
                                                <img src="images/good-wifi-signal.svg" alt="good wifi" style="width:25px;height:25px;">
                                            </div>
                                            <div flex="10" ng-if="aplist.rssi >= -70">
                                                <!-- Excellent -->
                                                <!-- <i class="icon-excellent-wifi-signal"></i> -->
                                                <img src="images/excellent-wifi-signal.svg" alt="excellent wifi" style="width:25px;height:25px;">
                                            </div>
                                            <div flex="90">{{aplist.ssid}}</div>
                                        </div>
                                    </div>
                                </div>
                                <md-step-actions layout="row">
                                    <div flex>
                                        <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                    </div>
                                    <div flex layout="row" layout-align="end top">
                                        <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                        <!-- <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep()">NEXT</md-button> -->
                                    </div>
                                </md-step-actions>
                            </md-step-body>
                        </md-step>
                        <md-step label="Enter Password" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 4">
                            <md-step-body>
                                <form name="myForm">
                                    <md-content>
                                        <md-input-container class="md-icon-float md-block" style=" width: 700px; ">
                                            <input ng-model="passWifi" type="text" placeholder="Password" style=" width: 700px; " required>
                                        </md-input-container>

                                        <md-input-container class="md-icon-float md-block" style=" width: 700px; ">
                                            <input ng-model="blockyName" type="text" placeholder="New Blocky's name" style=" width: 700px; " required>
                                        </md-input-container>

                                    </md-content>
                                </form>

                                <md-step-actions layout="row">
                                    <div flex>
                                        <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                    </div>
                                    <div flex layout="row" layout-align="end top">
                                        <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                        <md-button type="submit" class="md-primary md-raised" ng-disabled="myForm.$invalid" ng-click="vm.enableNextStep(); vm.saveSetting(passWifi, blockyName)">SAVE</md-button>
                                    </div>
                                </md-step-actions>
                            </md-step-body>
                        </md-step>
                    </md-steppers>
                </md-stepper-card-content>
            </md-card>
        </div>
    </md-content>
</div>