<md-content flex="nogrow" style="width: 800px;">
    <div>
        <md-card>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>
                        <md-icon md-svg-icon="md-menu"></md-icon>
                        <span>Create account</span>
                    </h2>
                </div>
            </md-toolbar>
            <md-stepper-card-content class="md-no-padding">
                <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="vm.selectedStep"
                    md-busy-text="'Processing...'" md-busy="vm.showBusyText">
                    <md-step label="Config mode" ng-disabled="vm.stepProgress < 1">
                        <md-step-body>
                            <md-content class="md-padding">
                                <img src="images/stepOne.png" alt="stepOne" height="100%" width="100%">
                            </md-content>
                            <md-step-actions layout="row">
                                <div flex layout="row" layout-align="end top">
                                    <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                    <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep()">NEXT</md-button>
                                </div>
                            </md-step-actions>
                        </md-step-body>
                    </md-step>
                    <md-step label="Connect to Blocky" ng-disabled="vm.stepProgress < 2">
                        <md-step-body>
                            <md-content class="md-padding">
                                <div layout="row" layout-align="space-between center">
                                    <div flex>
                                        <h6>Open the wireless utility on your computer, select the name (SSID) of the BLOCKY_XXXXXXX
                                            network, and no password for enter (both of these are found on the included Wi-Fi
                                            Configuration Card).
                                        </h6>
                                    </div>
                                    <div flex layout="row" layout-align="end center"><img src="images/stepTwo.png" alt="stepOne" height="350px" width="250px"></div>
                                </div>
                            </md-content>
                            <md-step-actions layout="row">
                                <div flex>
                                    <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                </div>
                                <div flex layout="row" layout-align="end top">
                                    <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                    <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep(); vm.loadAPList()">NEXT</md-button>
                                </div>
                            </md-step-actions>
                        </md-step-body>
                    </md-step>
                    <md-step label="Choose Network" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 3">
                        <md-step-body>
                            <div class="headercontainer">
                                <div class="tablecontainer">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'ssid'; sortReverse = !sortReverse">
                                                        <div>SSID</div>
                                                        <span ng-show="sortType == 'ssid' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'ssid' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                                <th>
                                                    <a href="#" ng-click="sortType = 'rssi'; sortReverse = !sortReverse">
                                                        <div>RSSI</div>
                                                        <span ng-show="sortType == 'rssi' && !sortReverse" class="fa fa-caret-down"></span>
                                                        <span ng-show="sortType == 'rssi' && sortReverse" class="fa fa-caret-up"></span>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="aplist in vm.APList | orderBy:sortType:sortReverse">
                                                <td>
                                                    <div ng-click="vm.getSSID(aplist.ssid); vm.enableNextStep()">{{aplist.ssid}}</div>
                                                </td>
                                                <td>
                                                    <div>{{aplist.rssi}}</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <md-step-actions layout="row">
                                <div flex>
                                    <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                </div>
                                <div flex layout="row" layout-align="end top">
                                    <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                    <!-- <md-button type="submit" class="md-primary md-raised" ng-click="vm.enableNextStep()">NEXT</md-button> -->
                                </div>
                            </md-step-actions>
                        </md-step-body>
                    </md-step>
                    <md-step label="Enter Password" md-complete="vm.stepData[2].data.completed" ng-disabled="vm.stepProgress < 4">
                        <md-step-body>
                            <form name="myForm">
                                <md-content>
                                    <md-input-container class="md-icon-float md-block" style=" width: 700px; ">
                                        <input ng-model="passWifi" type="text" placeholder="Password" style=" width: 700px; " required>
                                    </md-input-container>

                                    <md-input-container class="md-icon-float md-block" style=" width: 700px; ">
                                        <input ng-model="blockyName" type="text" placeholder="New Blocky's name" style=" width: 700px; " required>
                                    </md-input-container>

                                </md-content>
                            </form>

                            <md-step-actions layout="row">
                                <div flex>
                                    <md-button ng-click="vm.moveToPreviousStep()">PREVIOUS</md-button>
                                </div>
                                <div flex layout="row" layout-align="end top">
                                    <md-button class="md-warn" ng-click="vm.closeDialog()">CANCEL</md-button>
                                    <md-button type="submit" class="md-primary md-raised" ng-disabled="myForm.$invalid" ng-click="vm.enableNextStep(); vm.saveSetting(passWifi, blockyName)">SAVE</md-button>
                                </div>
                            </md-step-actions>
                        </md-step-body>
                    </md-step>
                </md-steppers>
            </md-stepper-card-content>
        </md-card>
    </div>
</md-content>